<!-- Header -->
<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logogie.svg', width: 100, height: 40, alt: 'Gie Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logogie2.svg', width: 30, height: 30, alt: 'Gie Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">

  <!-- Menu alarmas y usuario-->
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/brand/user.png" class="img-avatar" alt="Usuario"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Cuenta</a>
        <a class="dropdown-item" href="#" (click)="onLogout()"><i class="fa fa-lock"></i> Salir</a>
      </div>
    </li>
  </ul>
</app-header>

<!-- Body -->
<div class="app-body">

  <!-- Left Sidebar -->

  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">

    <!-- Boton Panel -->
    <button style="height: 45px" type="button" class="btn btn-primary btn-block btn-square text-left">
      <i class="icon-speedometer ml-2 mr-3"></i>Panel
    </button>

    <!-- Boton Clientes -->
    <div class="btn-group" dropdown *ngIf="(user && user.Role ==='super')">
      <button style="height: 45px" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle btn-block btn-square text-left">
        <i class="icon-briefcase ml-2 mr-3"></i>{{ clientName }}<span class="caret "></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" *ngFor="let client of clients" (click)="clientSelectedChanged($event, client)"><a class="dropdown-item" href="#">{{client.Name}}</a></li>
      </ul>
    </div>

    <!-- Boton Proyectos -->
    <div class="btn-group" dropdown *ngIf="clientSelected">
      <button style="height: 45px" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle btn-block btn-square text-left">
        <i class="icon-screen-smartphone ml-2 mr-3"></i>{{ projectName }}<span class="caret "></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" *ngFor="let project of projects" (click)="projectSelectedChanged($event, project)"><a class="dropdown-item" href="#">{{project.Name}}</a></li>
      </ul>
    </div>
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized" *ngIf="clientSelected && projectSelected"></app-sidebar-nav>
  </app-sidebar>

  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <cui-breadcrumb></cui-breadcrumb>
    <!-- Views-->
    <div class="container-fluid" *ngIf="clientSelected  && projectSelected">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

   <!-- Right Sidebar -->
  <!--<app-aside [fixed]="true" [display]="false" [ngClass]="'test'"></app-aside>-->

</div>

 <!-- Footer -->
<app-footer>
  <span><a href="http://giegroup.net/">Gie Group </a> &copy; 2020</span>
</app-footer>
