<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <img src="/assets/img/site/underconstruction.png" alt="En construccion" width="200" >
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h4 class="pt-3">Página en costrucción.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
